@use "./abstracts/_variables"
 as variables;
@use "./abstracts/mixins" as mixins;

.btn-primary {
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #919191;
    border-radius: 8px;
    background-color: variables.$white;

    &#calculate {
        margin-top: 20px;
    }

    &#see-more {
        margin-top: 10px;
        @include mixins.breakpoint(phablet) {
            margin: 25px;
        }
    }
    &:hover {
        transition: 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);
        background: variables.$blue;
        color: variables.$white;
    }
}

@include mixins.breakpoint(phablet) {
    .btn-primary {
        padding: 15px 20px;
    }
}

@include mixins.breakpoint(tablet) {
    .btn-primary {
        padding: 20px 25px;
    }
}
