@use "./abstracts/_variables" as variables;

.btn-primary {
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #919191;
    border-radius: 8px;
    background-color: variables.$white;
    color: variables.$black;
    font-size: 0.9rem;

    &#calculate {
        margin-top: 20px;
    }

    &#see-more {
        margin-top: 10px;
    }
    &:hover {
        transition: 1s cubic-bezier(0.47, 0, 0.75, 0.72);
        background: variables.$blue;
        color: variables.$white;
    }
}
