@use "../abstracts/mixins" as mixins;

.carousel {
    box-sizing: content-box;
    position: relative;
    height: 252px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    overflow: hidden;

    .carousel-slide {
        img {
            height: 250px;
        }
        @include mixins.breakpoint(phablet) {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.carousel > div {
    position: absolute;
    // top: 10px;
    // left: 10px;
    // right: 10px;
    // bottom: 10px;
    // width: 100%;
}

.carousel-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(245, 212, 217);
    border: 1px solid black;
}
