@use "../abstracts/mixins" as mixins;

.carousel {
    height: 38vh;
    box-sizing: content-box;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    .carousel-slide {
        height: inherit;
    }
    img {
        width: 100vw;
        height: inherit;
        object-fit: cover;
    }
    @include mixins.breakpoint(phablet) {
        height: 55vh;
    }
    @include mixins.breakpoint(laptop) {
        height: 77vh;
    }
}

.carousel > div {
    position: absolute;
}

.carousel-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
