@use "../abstracts/mixins" as mixins;

.carousel {
    box-sizing: content-box;
    position: relative;
    height: 252px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    overflow: hidden;
    @include mixins.breakpoint(tablet) {
        height: 450px;
    }

    .carousel-slide {
        img {
            height: 250px;
            @include mixins.breakpoint(phablet) {
                width: 100%;
                object-fit: cover;
            }

            @include mixins.breakpoint(tablet) {
                height: 450px;
            }
        }
    }
}

.carousel > div {
    position: absolute;
}

.carousel-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
