@use "../abstracts/mixins" as mixins;

h1,
h2,
th {
    @include mixins.headings-main-style;
}

a {
    text-decoration: none;
    font-family: "Poppins";
}

ul {
    list-style: none;
}

.services-calc-form,
select {
    @include mixins.content-main-style;
    text-align-last: center;
}

.review-content {
    @include mixins.content-main-style;
}
