@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as variables;

h1,
h2,
th {
    @include mixins.headings-main-style;
}

a {
    text-decoration: none;
    font-family: "Poppins";
}

ul {
    list-style: none;
}

.services-calc-form,
select,
.find-us,
.footer-main {
    @include mixins.content-main-style;
    text-align-last: center;
}

.review-content {
    @include mixins.content-main-style;
}

.carousel-text {
    font-family: "Poppins";
    font-weight: bolder;
    color: variables.$white;
    font-size: 2rem;
    text-align: center;
}
