@use "../abstracts/mixins" as mixins;

.faq-container {
    padding: 10px;
    width: 90vw;

    @include mixins.breakpoint(laptop) {
        width: 60vw;
    }

    &-text {
        margin-top: 10px;
    }

    .faq-call-us {
        display: block;
        padding-top: 15px;
        font-weight: 800;
    }
}
