@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.about-us {
    text-align: center;
    margin: 30px 0;
    &-heading {
        @include mixins.headings-main-style;
        @include mixins.black-t-white-bg;
        padding: 10px 0;
    }

    &-text {
        @include mixins.content-main-style;
        @include mixins.white-t-black-bg;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 15px 0;
    }
}

.review {
    text-align: center;

    &-heading {
        padding: 15px;
        margin-bottom: 10px;
    }

    &-content {
        //content mixin
        padding: 35px 20px;
        border-bottom: 1px solid dashed;
        background-color: #deb887;

        i {
            color: #4a4646;
            padding: 6px;
        }
    }
}

.map-location {
    height: 300px;
    width: 300px;
    margin: 0 auto;

    margin-top: 30px;
}
