@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.about-us {
    text-align: center;
    margin: 20px 0;
    &-heading {
        @include mixins.headings-main-style;
        @include mixins.black-t-white-bg;
        padding: 10px 0;
    }

    &-text {
        @include mixins.content-main-style;
        @include mixins.white-t-black-bg;
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 15px 0;
    }
}

.review {
    // element.style {
    //     text-align: center;
    //     display: flex;
    //     flex-direction: column;
    // }
    &-heading {
    }

    &-content {
    }
}
