@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.container {
    text-align: -webkit-center;
    overflow-x: hidden;
}

.about-us {
    margin: 30px 0;
    border-bottom: 1px solid variables.$black;

    @include mixins.breakpoint(tablet) {
        margin-top: 80px;
    }

    @include mixins.breakpoint(laptop) {
        margin-top: 100px;
    }
    &-heading {
        @include mixins.black-t-white-bg;
        padding: 20px 0;
        @include mixins.breakpoint(tablet) {
            padding: 20px 0;
        }
    }

    &-text {
        padding: 20px 0px 30px 0px;
        @include mixins.breakpoint(phablet) {
            padding: 30px 0 70px;
        }

        @include mixins.breakpoint(tablet) {
            padding: 49px 0 90px;
        }

        @include mixins.breakpoint(laptop) {
        }
    }
}

.review {
    text-align: center;
    @include mixins.breakpoint(laptop) {
        margin: 10px 0 120px 0px;
    }
    &-heading {
        padding: 15px;
        margin-bottom: 10px;
        @include mixins.breakpoint(tablet) {
            margin-top: 40px;
        }

        @include mixins.breakpoint(laptop) {
            margin: 50px;
        }
    }

    &-content {
        width: 100%;
        padding: 35px 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid dashed;
        background-color: #ebbf7d;

        @include mixins.breakpoint(phablet) {
            width: 80%;
            margin-bottom: 20px;
        }

        @include mixins.breakpoint(tablet) {
            width: 100%;
            padding: 80px 20px;
        }

        @include mixins.breakpoint(laptop) {
            width: 30%;
            height: 33vh;
            border: 1px solid variables.$black;
        }

        i {
            color: #4a4646;
            padding: 6px;
        }
    }
}

.map-location {
    height: 38vh;
    margin-top: 30px;
    overflow: scroll;
    @include mixins.breakpoint(phablet) {
        height: inherit;
        overflow: hidden;
    }

    @include mixins.breakpoint(laptop) {
        width: 50%;
    }

    .map-iframe {
        height: 51vh;
        width: 100%;
        border: 0;

        @include mixins.breakpoint(phablet) {
            overflow: hidden;
            height: 40vh;
        }

        @include mixins.breakpoint(laptop) {
            width: 100%;
        }
    }
}
