@use "./variables" as variables;

//font mixins
@mixin headings-main-style {
    font-family: "Poppins", Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-decoration: overline;
}

@mixin content-main-style {
    font-family: "Open Sans", Impact, Haettenschweiler, sans-serif;
    font-weight: 200;
}

// color-coding mixins
@mixin white-t-black-bg {
    color: variables.$white;
    background-color: variables.$black;
}

@mixin black-t-white-bg {
    color: variables.$black;
    background-color: variables.$white;
}

// Responsive Mixins

@mixin breakpoint($point) {
    @if $point == ldesktop {
        @media (min-width: 130rem) {
            @content;
        }
    } @else if $point == desktop {
        @media (min-width: 70rem) {
            @content;
        }
    } @else if $point == laptop {
        @media (min-width: 64rem) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 50rem) {
            @content;
        }
    } @else if $point == phablet {
        @media (min-width: 37.5rem) {
            @content;
        }
    }
}
