@use "../abstracts/_mixins" as mixins;

.services-container,
.services-table,
.services-calc,
.services-calc-form,
.review,
.footer-main,
.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flex-header,
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-container {
    @include mixins.breakpoint(laptop) {
        display: flex;
        flex-direction: row;
    }
}
.services-calc-form {
    justify-content: space-evenly;
}

.desktop-footer {
    @include mixins.breakpoint(laptop) {
        display: flex;
        flex-direction: row;
    }
}

.menu {
    flex-wrap: wrap;
    align-items: center;

    @include mixins.breakpoint(phablet) {
        .menu {
            justify-content: center;
        }
    }

    @include mixins.breakpoint(desktop) {
        .menu {
            align-items: flex-start;
            flex-wrap: nowrap;
        }
    }
}

.review-flex {
    @include mixins.breakpoint(laptop) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
