@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.desktop-footer {
    @include mixins.breakpoint(laptop) {
        border: 1px solid black;
        padding: 29px;
    }
}

.footer-main {
    margin-top: 20px;
    padding: 10px;

    p:nth-child(2) {
        padding-top: 6px;
    }

    p:nth-child(3) {
        color: #4169e1;
        padding-top: 6px;
    }

    .hours-span {
        padding: 1px;

        @include mixins.breakpoint(tablet) {
            padding: 4px;
        }
    }
    @include mixins.white-t-black-bg;

    @include mixins.breakpoint(laptop) {
        @include mixins.black-t-white-bg;
        height: auto;
        width: 50%;
        place-self: center;
    }

    .social-icons {
        margin-top: 8px;
        a {
            text-decoration: none;
        }
        .svg-icon {
            height: 2rem;
            width: 2rem;
            &:hover {
                opacity: 0.6;
            }

            @include mixins.breakpoint(phablet) {
                width: 2.5rem;
                height: 2.5rem;
            }

            @include mixins.breakpoint(tablet) {
                height: 3.5rem;
                width: 3.5rem;
            }

            @include mixins.breakpoint(ldesktop) {
                height: 5.5rem;
                width: 5.5rem;
            }
        }

        .svg-icon path,
        .svg-icon polygon,
        .svg-icon rect {
            fill: #4691f6;
        }

        .svg-icon circle {
            stroke: #4691f6;
            stroke-width: 1;
        }
    }
}
