@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.desktop-footer {
    @include mixins.breakpoint(laptop) {
        border: 1px solid black;
        padding: 29px;
    }
}

.footer-main {
    margin-top: 20px;
    padding: 10px;

    p:nth-child(2) {
        padding-top: 6px;
    }

    p:nth-child(3) {
        color: #4169e1;
        padding-top: 6px;
    }

    .hours-span {
        padding: 1px;

        @include mixins.breakpoint(tablet) {
            padding: 4px;
        }
    }
    @include mixins.white-t-black-bg;

    @include mixins.breakpoint(laptop) {
        @include mixins.black-t-white-bg;
        height: auto;
        width: 50%;
        place-self: center;
    }

    .social-icons i {
        padding: 10px 5px;

        &:hover {
            color: #a9a9a9;
        }
    }
}
