@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.services-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    .services-calc {
        max-width: 320px;
        width: 100%;
        margin-top: 27px;
        padding-top: 40px;
        align-items: center;
        background-color: #fdfdfd;
        border: 1px solid variables.$black;

        p {
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .result-span {
            color: rgb(243, 10, 10);
            margin-bottom: 10px;
        }
    }

    .services-calc-form {
        height: 250px;
        justify-content: center;
        align-items: center;
        padding: 6px 20px;
        margin-top: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

        select {
            cursor: pointer;
            padding: 5px 10px;
            margin-bottom: 20px;
            &:invalid {
                color: rgb(94, 94, 94);
            }
            option {
                color: variables.$black;
            }
        }

        .calc-form-input {
            padding: 5px 10px;
            width: 70%;
            border-radius: 6px;
        }
    }
}

@include mixins.breakpoint(phablet) {
    .services-container .services-calc {
        height: 500px;
        max-width: 450px;
    }

    .services-calc-form {
        height: 490px;
        width: 330px;
        justify-content: space-evenly;
        padding: 5px;
    }
}

/// FIX EVERYTHING!!!
@include mixins.breakpoint(tablet) {
    @include mixins.breakpoint(tablet) {
        .services-container .services-calc {
            height: 500px;
            max-width: 720px;
        }

        .services-calc-form {
            height: 300px;
        }
    }
}
