@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.services-calc-form {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    height: 177px;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 20px;
    border: 1px solid black;
    margin-top: 10px;

    select {
        font-family: "Poppins";
        text-align: center;
        text-align-last: center;
        cursor: pointer;

        padding: 5px 10px;

        &:invalid {
            color: rgb(145, 145, 146);
        }
        option {
            color: variables.$black;
        }
    }

    label {
        line-height: 0;
        padding: 15px 0;
    }

    .calc-form-input {
        padding: 5px 10px;
        width: 70%;
        border-radius: 6px;
    }

    button {
        margin-top: 20px;
    }

    p {
        padding: 15px 0;
    }
}
