@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.flex-header {
    background-color: variables.$white;
    column-gap: 70px;
    padding: 10px 0;

    @include mixins.breakpoint(laptop) {
        gap: 358px;
    }

    @include mixins.breakpoint(ldesktop) {
        height: 14vh;
        gap: 500px;
    }
    a {
        margin: 0;
    }

    .header-image {
        width: 30vw;
        height: 6vh;
        transform: translate(0%, 30%);
        @include mixins.breakpoint(phablet) {
            margin-bottom: 30px;
            height: 8vh;
        }

        @include mixins.breakpoint(tablet) {
            height: 9vh;
        }

        @include mixins.breakpoint(laptop) {
            height: 12vh;
        }
    }
}

.flex-contact-info {
    margin: auto;
    p,
    a {
        color: variables.$black;
        padding: 1px;
        overflow: hidden;
    }
    @include mixins.breakpoint(ldesktop) {
        margin: 12px 140px 0px 0px;
    }
}
