@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.flex-header {
    display: flex;
    flex-direction: row;

    background-color: variables.$white;
    column-gap: 90px;

    padding: 10px 0;
}

.flex-contact-info {
    margin: auto;
    p,
    a {
        @include mixins.content-main-style;
        color: variables.$black;
        font-size: 0.9rem;
        line-height: 1;
        text-align: center;
        padding: 1px;
        overflow: hidden;
    }
}
a:hover {
    text-decoration: underline;
}
.header-image {
    width: 33vw;
    height: 13vh;
    object-fit: cover;
}
