@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

nav {
    background: #222;
    padding: 0 15px;
}

.menu {
    padding: 13px 5px;

    .item {
        padding: 10px;
        order: 3;
        width: 100%;
        text-align: center;
        display: none;

        a {
            display: block;
            padding: 15px 5px;
            color: variables.$white;

            &:hover::after {
                color: #ccc;
            }
        }
    }
    .toggle {
        order: 1;
        font-size: 1.38rem;
        margin-left: auto;

        i {
            color: variables.$white;
        }
    }

    //Tablet Responsive
    @include mixins.breakpoint(phablet) {
        body {
            background-color: rgb(199, 147, 147);
        }
        .menu {
            justify-content: center;
        }

        .toggle {
            text-align: right;
            order: 2;
        }
    }

    //Desktop Responsive
    @include mixins.breakpoint(desktop) {
        .menu {
            background: none;
        }

        .item {
            order: 1;
            position: relative;
            display: block;
            width: auto;
        }
        .toggle {
            display: none;
        }
        .submenu-active {
            border-radius: 0;
        }
        .submenu-active .submenu {
            border-left: inset;
            background: #111;
            display: block;
            left: 0;
            position: absolute;
            top: 74px;
            z-index: 1;
            width: 294px;
            /* text-align: left; */
            text-align-last: left;
        }

        .submenu-active {
            border-radius: 0;
        }

        .toggle {
            display: none;
        }
    }
}

.active .item {
    display: block;
    cursor: pointer;
}

.menu li.subitem a {
    padding: 10px;
    text-align: center;
}

.submenu {
    display: none;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

.submenu-active .submenu {
    display: block;
}
.has-submenu i {
    font-size: 0.63rem;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 0.63rem;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: variables.$white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
