@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.flex-table {
    @include mixins.breakpoint(laptop) {
        width: 50%;
        text-align: -webkit-center;
    }
}
.services-table {
    border-collapse: collapse;
    color: variables.$black;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    thead {
        padding: 10px;
        margin-top: 25px;
    }

    tr {
        border-bottom: 1px dotted black;
    }

    td {
        padding: 6px;

        @include mixins.breakpoint(laptop) {
            padding: 20px;
        }
    }
}
