@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.services-table {
    border-collapse: collapse;
    color: variables.$black;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    thead {
        padding: 10px;
        text-decoration: overline;
        border-bottom: none;
    }

    tr {
        border-bottom: 1px dotted black;
    }

    td {
        padding: 10px;
    }
}
