// TO DO:
// -- put all pointers in one place (default style for <i>s?

//Normalize SCSS
@use "base/normalize";

//Base
@use "./abstracts/mixins" as mixins;
@use "./abstracts/variables" as variables;
@use "./base/typography" as typography;

//Components
@use "./components/buttons" as btn;
@use "./components/carousel";
@use "./components/sliders";

//Layout
@use "./layout/header";
@use "./layout/navigation";
@use "./layout/forms";
@use "./layout/table";
@use "./layout/flex";

//Pages
@use "./pages/home";
@use "./pages/about";

// Base Styles

/* Tablet */
@media all and (min-width: 700px) {
  .flex-header {
    padding: 10px 30px;
  }
  .flex-contact-info {
    padding-top: 5%;

    p,
    a {
      font-size: 1.5rem;
    }
  }
  .menu {
    justify-content: center;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Responsive Styles */
/* Tablet  */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Desktop  */
@media all and (min-width: 960px) {
  .flex-header {
    padding: 10px 30px;
  }
  .flex-contact-info p {
    font-size: 1.1rem;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
